.subtitles {
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
}
.context {
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
  background: #e5d8bf;
}
@media (min-width: 1000px) {
  body {
    width: 100%;
    max-width: 1000px;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 2% 0;
}
header .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: #94aa2a solid 2px;
}
header .logo h1 {
  font-size: 3rem;
  display: flex;
  color: #b22222;
  font-family: 'Righteous', cursive;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% 0;
}
header nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #e25822;
  font-family: 'Domine', serif;
}
header .topImg {
  width: 100%;
}
header .topImg img {
  width: 100%;
  height: 25vh;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 2% auto;
  padding: 2% 0;
  border-top: solid 2px #94aa2a;
}
footer nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #e25822;
  font-family: 'Domine', serif;
}
.pitch {
  text-align: center;
  margin: 5%;
}
.pitch h2 a {
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
  text-decoration: none;
}
.pitch p {
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
}
.pitch img {
  margin: 3% 0;
  width: 100%;
}
.pitch .btn {
  border: solid #e25822 2px;
  margin: 2% auto;
  width: 15rem;
  padding: 2% 0;
  border-radius: 25px;
  background: #e25822;
}
.pitch .btn a {
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #b22222;
}
.pitch .btn:hover {
  background: #b22222;
}
.pitch .btn:hover a {
  color: #e25822;
}
.easy {
  text-align: center;
  margin: 5%;
}
.easy h2 {
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
}
.easy p {
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
}
.easy p a {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: #b22222;
}
.easy .photos {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  width: 100%;
}
.easy .photos img {
  margin: 2%;
  width: 40%;
  height: auto;
}
.share {
  text-align: center;
  margin: 5%;
}
.share h2 {
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
}
.share p {
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
}
.teamHeader {
  text-align: center;
  margin: 5%;
}
.teamHeader h2 {
  text-align: start;
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
}
.teamHeader p {
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
}
.teamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 3% auto;
  border: solid #b22222 1rem;
  border-radius: 25px;
  padding: 2%;
  text-align: center;
}
.teamMember h2 {
  color: #e25822;
  font-size: 2rem;
  margin: 3%;
  font-family: 'Righteous', cursive;
}
.teamMember p {
  margin: 2%;
  font-size: 1.5rem;
  color: #221f1f;
  font-family: 'Domine', serif;
  color: #e25822;
}
@media (min-width: 1000px) {
  .teamMember {
    display: flex;
    width: 35%;
  }
  .teamMember img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1000px) {
  .theTeam {
    display: flex;
    flex-flow: wrap row;
  }
}
