.teamHeader {
    text-align: center;
    margin: 5%;

    h2 {
        text-align: start;
    
        .subtitles(); 
    }

    p {
        .context();
    }



}


.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 3% auto;
    border: solid @red 1rem;
    border-radius: 25px;
    padding: 2%;
    text-align: center;

    h2 {
        .subtitles();
    }

    p {

        margin: 2%;
        .context();
        color: @orange;
    }


    @media @desktop {
        display: flex;
        width: 35%;
     img {
         width: 100%;
         height: auto;
     };
    }
    
 
}
img {
    animation:
    slide 3s 1;
  }

  @keyframes slide {
    from {
      margin-left: 200%;
      width: 50%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@media @desktop {
    .theTeam{
        display: flex;
        flex-flow: wrap row;
    }
}



